<div class="card rounded-0" style="margin-bottom: 20px;">
  <div class="card-body">
    <% if(title === 'Shop'){ %>
      <a class="text-body" href="/product/<%= product.id %>">
        <img class="img-fluid" src="http://172.16.128.127/images/<%= product.picture %>" /> 
        <!-- <%= product.picture %> -->
        <h4 class="card-title"><%= product.title %></h4>
      </a>
    <% } else {%>
      <img class="img-fluid" src="http://172.16.128.127/images/<%= product.picture %>" />
      <h4 class="card-title"><%= product.title %></h4>
    <% } %>
    <!-- <span class="badge badge-warning"><%= product.name %></span> -->
    <!-- <p class="card-text">Price: €<%= product.price %></p> -->
    <% if(title === 'Shop'){ %>
      <p class="card-text"><%= product.details.split(".")[0] + '.'  %></p>
    <% } else {%>
      <pre class="card-text"><%= (product.details).replaceAll(".", ".\n") %></pre>
    <% } %>
    <a href="/add-to-cart/pid-<%= product.pid %>" class="card-link"><i class="fa fa-cart-plus" aria-hidden="true"></i> Voeg toe €<%= product.price %></a>
  </div>
</div>